.threads-list, .emails-list {
  list-style-type: none;
}

.thread-collapsed, .email {
  &:hover {
    background-color: #ddd;
  }
}

.thread-expanded {
  &:hover {
    background-color: #efefef;
  }
}

.thread-toggle, .email-toggle {
  cursor: pointer;
}

.email-body {
  border: 1px solid #000;
  height: 30em;
  margin: 0 5%;
  overflow: scroll;
  width: 90%;
}
