@import "foundation";

$backgroundHighlight: #efefef;
$foregroundHighlight: #ddd;

// A collection of email messages, grouped together by some characteristic.
//
// Styleguide 1.
.threads-list {
  /* Get rid of those list indicators, they don't help the user. */
  list-style-type: none;

  // A container for an email thread, managed by the email collection.
  //
  // Styleguide 1.1.
  .thread-list-item {
    // A collapsed thread, which shows only the subject of the thread.
    //
    // :hover - highlights the thread to indicate which one will be selected if clicked.
    //
    // Styleguide 1.1.1.
    &.thread-collapsed {
      &:hover {
        background-color: $foregroundHighlight;
      }

      .thread-contents {
        display: none;
      }
    }

    // An expanded thread, which shows the thread's contents.
    //
    // :hover - lightens the expanded thread so you can see which email is selected.
    //
    // Styleguide 1.1.2.
    &.thread-expanded {
      &:hover {
        background-color: $backgroundHighlight;
      }
      /* FIXME: make sure that removing display: none makes .thread-contents show up */
    }
  }
}

// A thread of related email messages, presented to summarize the included messages so they can be dealt with faster.
//
// Styleguide 2.
.thread {
  // The thread header which the user can click to expand or collapse the thread.
  //
  // Styleguide 2.1.
  .thread-toggle {
    cursor: pointer;
  }

  // The list of email messages in a thread.
  //
  // Styleguide 2.2.
  .emails-list {
    /* Get rid of those list indicators, they don't help the user. */
    list-style-type: none;

    // A container for an email message, managed by the thread.
    //
    // :hover - highlights the email to indicate which one will be selected if clicked.
    // .email-collapsed - shows only the subject of the email.
    // .email-expanded  - shows all attributes of the email.
    //
    // Styleguide 2.2.1.
    .email-list-item {
      &:hover {
        background-color: $foregroundHighlight;
      }
      &.email-collapsed {
        .attributes {
          display: none;
        }
      }
      &.email-expanded {
        .attributes {
          display: block;
        }
      }
    }
  }

  // The details of the issue associated to this thread.
  //
  // Styleguide 2.3.
  .thread-issue-details {
    // The thread header which the user can click to expand or collapse the thread.
    //
    // Styleguide 2.3.1.
    .thread-issue-details-toggle {
      cursor: pointer;
    }

    // The issue description.
    //
    // Styled as pre-formatted text until it can be rendered properly, as Confluence does.
    //
    // Styleguide 2.3.2.
    .thread-issue-description {
      white-space: pre-wrap;
    }

    // Collapsed thread details, which shows only a toggle to show the details.
    //
    // Styleguide 2.3.3.
    &.thread-issue-details-collapsed {
      .thread-issue-details-content {
        display: none;
      }
    }

    // Expanded thread details, which shows the details of the issue associated with the thread.
    //
    // Styleguide 2.3.4.
    &.thread-issue-details-expanded {
    }

    // Thread details that fall into a keyed list.
    //
    // Aligned into two key-value columns.
    //
    // Styleguide 2.3.5.
    .thread-issue-details-keyed-list {
      @include block-grid(2);

      .row {
        @include grid-column(6);
      }

      // Thread detail labels.
      dt {
        @include grid-column(4);
      }

      // Thread detail values.
      dd {
        @include grid-column(8);
        padding-top: 1px;
      }
    }
  }
}

// An email message.
//
// Styleguide 3.
.email {
  // The email header which the user can click to expand or collapse the email.
  //
  // Styleguide 3.1.
  .email-toggle {
    cursor: pointer;
  }

  // The email message body, containing either text in a <pre> or HTML in an <iframe>.
  //
  // Styleguide 3.2.
  .email-body {
    border: 1px solid #000;
    height: 30em;
    margin: 0 5%;
    overflow: scroll;
    width: 90%;
  }
}
